@import 'module/zeroing.scss';

body {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 400;
}

.wrapper {

}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  box-shadow: 0 1px 4px #999999;

  &-list {
    margin: 0 auto;
    height: 100%;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {

  }

  &__link {

  }
}

.sidebar {
  position: fixed;
  top: 105px;
  left: 0;
  height: calc(100vh - 110px);
  width: 200px;
  box-shadow: 0 0 4px #999999;
  border-radius: 0 5px 0 0;
}

.content {
  margin: 110px auto 0 auto;
  width: 900px;
}

.text {
  border-bottom: 1px solid #999999;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__title {
    font-weight: 500;
    font-size: 25px;
  }
}

.articles {

  &-tools {
    display: flex;
    margin: 25px 0;
    align-items: center;

    &__search {
      height: 40px;
      width: 500px;
      border-radius: 5px;
      border: 1px solid #999999;
      padding: 0 25px;
      margin-right: 10px;
    }

    &__btn {
      height: 40px;
      width: 60px;
      background-color: blue;
      background-image: url(../img/icons/search.svg);
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 5px;
      margin-right: auto;
    }

    &-sort {
      right: 0;
      display: flex;
      align-items: center;

      &__text {

      }

      &-list {
        align-content: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #999999;
        margin-left: 5px;
      }
    }
  }

  &-data {
    &-items {
      display: grid;
      gap: 0 20px;

      &-item {
        height: 30px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        opacity: 0;
        left: -100px;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid black;

        &__trash {
          width: 30px;
          height: 30px;
          right: 0;
          cursor: pointer;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  &-addItem {
    display: block;

    &-inputBlock {
      position: relative;
      left: -50px;
      opacity: 0;

      &.active {
        display: flex;
      }

      &__input {
        width: 100%;
        height: 30px;
        padding: 0 10px;
        background-color: #ffcfcf;
        border-radius: 5px;
        border: 1px solid black;
        margin-bottom: 20px;


        &:not(:placeholder-shown) {
          background-color: white;
        }
      }

      &__trash {
        width: 30px;
        height: 30px;
        top: 0;
        right: 0;
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }


    &__btn {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid grey;
      transition: background-color 0.25s linear;

      &:hover {
        background-color: aliceblue;

        & svg {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  //background-color: rgba(1, 1, 1, 0.6);
  transition: all .4s ease-in-out;

  &.open {
    visibility: visible;
    opacity: 1;

    .popup-card {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &-card {
    width: 500px;
    height: auto;
    background-color: #fff;
    top: -200%;
    left: 50%;
    position: absolute;
    border-radius: 10px;
    box-shadow: 0 25px 100px #999999;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__photo {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      border: 1px solid black;
      background: url("../img/icons/person.svg") no-repeat center;
      background-size: cover;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    &__FIO {
      font-size: 20px;
      text-align: center;
    }

    &-details {
      width: 100%;
      height: auto;
      border-top: 1px solid #999999;
      border-bottom: 1px solid #999999;
      margin: 30px 0;
      padding: 20px 0;

      &-item {
        height: 30px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        opacity: 0;
        padding: 0 10px;
        border-radius: 5px;
        border: 1px solid black;
      }
    }

    &-btns {
      display: block;
      width: 100%;

      & button {
        width: 100%;
        height: 30px;
        border-radius: 10px;
        background-color: grey;
        border: 1px solid black;

        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }
}